* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
}

a:link {
  color: #26a6f6;
}

a:visited {
  color: #26a6f6;
}

a:hover {
  color: #26a6f6;
}

a:active {
  color: #26a6f6;
}

.current-values {
  display: flex;
  width: 100%;
}

.values-wrapper {
  margin: auto;
  padding-bottom: 0
  .5rem;
  text-align: center;
  width: 50%;
}

.chart-wrapper {
  margin: auto;
  padding-bottom: 3rem;
  text-align: center;
  width: 100%;
}

/* #tempChart{
  margin: 2rem;
} */

.values-wrapper .value {
  font-size: 1.8rem;
}

.station-time {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.value-description {
  font-size: 1rem;
  text-align: center;
}

.chartjs-chart {
  min-height: 360px;
}

#page-wrapper {
  /* -moz-animation: colorchange 30s ease infinite;
  -o-animation: colorchange 30s ease infinite;
  -webkit-animation: colorchange 30s ease infinite;
  animation: colorchange 30s ease infinite;
  background: linear-gradient(270deg, #73c4f7, #f7ee73, #f7c073, #f77a73);
  background-size: 800% 800%; */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;
  width: 100vw;
}

#footer {
  background: #dfe8ee;
  border-top: 0.2rem solid black;
  bottom: 0;
  box-sizing: border-box;
  color: black;
  font-size: 2vmin;
  /* height: 2.5rem; */
  padding: 1rem;
  position: absolute;
  width: 100%;
}

.time-window{
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

button {
  border: none;
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:focus {
  border: none;
  outline: none;
}

button:active {
  border: none;
  outline: none;
}

button:hover {
  border: none;
  outline: none;
}

.time-window-button{
  margin-right: 2px;
  padding: 0.5em 1em;
  background-color: #f39200;
  border-radius: 3px;
  cursor: pointer;
  border-width: 0;
  color: inherit;
  font-weight: inherit;
  margin: 2px;
}

.time-window-button:hover{
  background-color: #f5a226;
  border-width: 0;
}

.time-window-button.active{
  border: solid 2px #003360;
  margin: 0;
}

.time-window-button:active{
  border-color:#003360;
  border-style: none;
}

@-webkit-keyframes colorchange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes colorchange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes colorchange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes colorchange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.hidden {
  display: none;
}
